@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* @font-face {
    font-family: testFamily;
    src: url(./test.html);
} */
body {
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: 10px;
}
.em-1 {
  font-size: 1em;
}
.rem-1 {
  font-size: 1rem;
}
