/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap'); */
@font-face {
    font-family: ;
    src: url('./');
}
.heading {
    color: tomato;
}
.project {
}